div, body {
	margin: 0;
  	border: 0;
  	font-family: Arial,Verdana,Sans-serif;
}

input {
	height: 30px;
	width: 230px;
}

.nav {
  	position: fixed;
  	width: 100%;
  	height: 50px;
  	background: black;
  	opacity: 0.7;

  	box-shadow: 0px 1px #888888;
}

.nav-container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.nav-brand {
	width: 50px;
	height: 50px;
}

.nav-brand:hover {
	cursor: pointer;
}

.nav-brand img {
	width: 50px;
	height: 50px;

	border-radius: 2px;
}

.nav-hiden {
  	width: 100%;
  	height: 80px;
}

.login-container {
	width: 1000px;
	margin: 0 auto;
	
	position: relative;
	top: 10%;
	
	color: #333;
	font-size: 20px;
}

.login-form {
	width: 100%;
	height: 500px;
}

.login-button {
	width: 100%;
}

.signin-container, .signup-container {
	display: inline-block;
	width: 499px;
	float: left;
	
	text-align: center;
}

.login-border {
	display: inline-block;
	background-color: #d00000;
	width: 2px;
	height: 100%;
	float: left;
}

.signin-button, .signup-button {
	display: inline-block;
	width: 50%;
	float: left;

	text-align: center;
}

div[class$='left'], div[class$='right'] {
	display: inline-block;
	margin-top: 10px;
}

div[class$='left'] {
	width: 160px;
}

div[class$='button'] {
	margin-top: 20px;
}

input {
	font-size: 20px;
}

.signup-reset, .signup-signup, .signin-signin {
	height: 30px;
	width: 100px;
	line-height: 30px;
	display: inline-block;
	color: #d00000;
	border: 1px solid #d00000;
	border-radius: 3px;
}

.signup-reset:hover, .signup-signup:hover, .signin-signin:hover {
	cursor: pointer;
}