<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shildon.treehole.dao.SecretMapper">
	<resultMap type="Secret" id="SecretResult">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="pubdate" column="pubdate" />
		<association property="user" resultMap="UserResult" />
		<association property="treehole" resultMap="TreeholeResult" />
	</resultMap>
	<resultMap type="Treehole" id="TreeholeResult">
		<id property="id" column="treehole_id" />
		<result property="about" column="about" />
	</resultMap>
	<resultMap id="UserResult" type="User">
		<id property="id" column="user_id" />  
    	<result property="username" column="username" />  
    	<result property="password" column="password" />  
    	<result property="avatarPath" column="avatarpath" />  
    	<result property="aboutMe" column="aboutme" />  
    	<result property="location" column="location" />  
    	<result property="birthdate" column="birthdate" />  
	</resultMap>
	
	<insert id="insert" parameterType="Secret" >
		insert into secret(id,title,content,pubdate,user_id,treehole_id) 
			values(#{id},#{title},#{content},#{pubdate},#{user.id},#{treehole.id})
	</insert>
	
	<delete id="delete" parameterType="long">
		delete from secret where id=#{id}
	</delete>
	
	<update id="update" parameterType="Secret">
		update secret set 
			title=#{title},
			content=#{content},
			pubdate=#{pubdate}
			user_id=#{user.id},
			treehole_id=#{treehole.id}
		where id=#{id}
	</update>
	
	<select id="get" parameterType="long" resultMap="SecretResult">
		select * from secret where id=#{id}
	</select>
	
	<select id="queryBy" parameterType="java.util.Map" resultMap="SecretResult">
		select * from secret
			left outer join user on secret.user_id=user.id
			left outer join treehole on secret.treehole_id=treehole.id
		order by pubdate desc limit #{begin},#{sum}
	</select>
</mapper>